@model List<SimbaBank.Models.BankAccount>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table border="1" style="background-color:none">
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Type</th>
            <th>Balance</th>
            <th>King</th>
            <th>Status</th>
        </tr>
        @{int counter = 0;}
        @foreach (var character in @Model)
        {
            counter++;
            <tr style="@((@character.IsKing) ? "background-color:crimson" : "background-color:none") ">
                <td align="center">@counter</td>
                <td align="center">@character.Name</td>
                <td align="center">@character.AnimalType</td>
                <td align="center">@character.Balance</td>
                <td align="center">@character.IsKing</td>
                <td align="center">@((character.IsBad) ? "Bad" : "Good")</td>
            </tr>
        }
    </table>
</body>

</html>
