@model ICollection<GoTApp.Models.GoTCharacter>
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/CSS/StyleSheet.css")" />*@
</head>
<body>
    <h1>Game of Thrones Character Cheat Sheet</h1>
    <h2><a href="/gotcharacter/add">Add new Todo</a></h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Alive</th>
            <th>Likable</th>
            <td>Delete Action</td>
            <td>Update Action</td>
        </tr>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.IsAlive</td>
                <td>@item.IsLikeable</td>
                <td>
                    <form action="/(@item.Id)/delete" method="post">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button id="table" class="number" type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <form action="/(@item.Id)/updating" method="get">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button id="table" class="number" type="submit">Update</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</body>
</html>
