@model ICollection<GotCharacterApp.Models.GotCharacter>
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/CSS/StyleSheet.css")" />
</head>
<body>
    <h1>Cheat Sheet for Game of Thrones Characters</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Favourite?</th>
            <th>Alive?</th>
            <td>Delete Character</td>
            @*<td>Update Character</td>*@
        </tr>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.IsFavourite</td>
                <td>@item.IsAlive</td>
                <td>
                    <form action="/(@item.Id)/delete" method="post">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button id="table" class="number" type="submit">Delete</button>
                    </form>
                </td>
                @*<td>
                    <form action="/(@item.Id)/update" method="post">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button id="table" class="number" type="submit">Update</button>
                    </form>
                </td>*@
            </tr>
        }
    </table>
        <br />
        <form action="/gotcharacter/add" method="get">
            <button type="submit" value="Add">Add new character</button>
        </form>
</body>
</html>
